body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}
header {
    background: #0077b6;
    padding: 10px 0;
}
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.principal {
    text-align: center;
    background: linear-gradient(135deg, #00aaff, #00ffaa);
    color: white;
    padding: 40px;
}
.proyecto-link {
    text-decoration: none;
    color: black;
}
.proyecto {
    background: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.experiencia {
    background: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.envoltura-habilidad {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.habilidad {
    background: #00aaff;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
footer {
    background: #0077b6;
    text-align: center;
    padding: 20px;
    color: white;
}
.redes-sociales .icono {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}